# Import the required Libraries :

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the csv file :

In [32]:
data = pd.read_csv ("convertnumber.csv")
data.head(157)

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,className
0,30,1,0,0,0,0,0,0,0,0,0,0,0,1.0,85,18,4.0,61,0,1
1,50,0,0,0,1,0,0,0,0,0,0,0,0,0.9,135,42,3.5,61,0,1
2,78,0,1,0,1,0,0,1,0,0,0,0,0,0.7,96,32,4.0,61,0,1
3,31,0,1,1,0,0,0,1,0,0,0,0,0,0.7,46,52,4.0,80,0,1
4,34,0,1,0,0,0,0,1,0,0,0,0,0,1.0,85,200,4.0,61,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,0,1,0,1,1,1,1,0,0,1,1,1,7.6,85,242,3.3,50,1,0
151,44,0,1,0,1,0,0,1,1,0,0,0,0,0.9,126,142,4.3,61,1,1
152,61,0,0,0,1,1,0,0,1,0,1,0,0,0.8,75,20,4.1,61,1,1
153,53,1,0,0,1,0,0,1,0,1,1,0,1,1.5,81,19,4.1,48,1,1
154,43,0,1,0,1,0,0,1,0,1,1,1,0,1.2,100,19,3.1,42,1,0

In [33]:
# Print column names
data.columns

Index(['age', 'sex', 'steroid', 'antivirals', 'fatigue', 'malaise', 'anorexia',
       'liver_big', 'liver_firm', 'spleen_palpable', 'spiders', 'ascites',
       'varices', 'bilirubin', 'alk_phosphate', 'sgot', 'albumin', 'protime',
       'histology', 'className'],
      dtype='object')

In [34]:
# Read the columns into a variable
x1 = data["age"]
x2 = data["sex"]
x3 = data["steroid"]
x4 = data["antivirals"]
x5 = data["fatigue"]
x6 = data["malaise"]
x7 = data["anorexia"]
x8 = data["liver_big"]
x9 = data["liver_firm"]
x10 = data["spleen_palpable"]
x11 = data["spiders"]
x12 = data["ascites"]
x13 = data["varices"]
x14 = data["bilirubin"]
x15 = data["alk_phosphate"]
x16 = data["sgot"]
x17 = data["albumin"]
x18 = data["protime"]
x19 = data["histology"]

y = data["className"]

# Convert our variables datatype from series to array :

In [36]:
x1 = np.array(x1)
x2 = np.array(x2)
x3 = np.array(x3)
x4 = np.array(x4)
x5 = np.array(x5)
x6 = np.array(x6)
x7 = np.array(x7)
x8 = np.array(x8)
x9 = np.array(x9)
x10 = np.array(x10)
x11 = np.array(x11)
x12 = np.array(x12)
x13 = np.array(x13)
x14 = np.array(x14)
x15 = np.array(x15)
x16 = np.array(x16)
x17 = np.array(x17)
x18 = np.array(x18)
x19 = np.array(x19)
y =  np.array(y)

# Number of rows in our dataset :

In [37]:
n =len(x1)
n

155

# Create a “ones” matrix

In [38]:
x_bias =np.ones((n,1))

# Reshape our data so that we can perform operations like addition and multiplication with x_bias

In [39]:
x1_new = np.reshape(x1, (n,1))
x2_new = np.reshape(x2, (n,1))
x3_new = np.reshape(x3, (n,1))
x4_new = np.reshape(x4, (n,1))
x5_new = np.reshape(x5, (n,1))
x6_new = np.reshape(x6, (n,1))
x7_new = np.reshape(x7, (n,1))
x8_new = np.reshape(x8, (n,1))
x9_new = np.reshape(x9, (n,1))
x10_new = np.reshape(x10, (n,1))
x11_new = np.reshape(x11, (n,1))
x12_new = np.reshape(x12, (n,1))
x13_new = np.reshape(x13, (n,1))
x14_new = np.reshape(x14, (n,1))
x15_new = np.reshape(x15, (n,1))
x16_new = np.reshape(x16, (n,1))
x17_new = np.reshape(x17, (n,1))
x18_new = np.reshape(x18, (n,1))
x19_new = np.reshape(x19, (n,1))

Create a major matrix with all the columns like x_bias,x2,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17

In [42]:
x_new = np.append(x_bias,x1_new,axis=1)
x_new = np.append(x_new,x2_new, axis=1)
x_new = np.append(x_new,x3_new, axis=1)
x_new = np.append(x_new,x4_new, axis=1)
x_new = np.append(x_new,x5_new, axis=1)
x_new = np.append(x_new,x6_new, axis=1)
x_new = np.append(x_new,x7_new, axis=1)
x_new = np.append(x_new,x8_new, axis=1)
x_new = np.append(x_new,x9_new, axis=1)
x_new = np.append(x_new,x10_new, axis=1)
x_new = np.append(x_new,x11_new, axis=1)
x_new = np.append(x_new,x12_new, axis=1)
x_new = np.append(x_new,x13_new, axis=1)
x_new = np.append(x_new,x14_new, axis=1)
x_new = np.append(x_new,x15_new, axis=1)
x_new = np.append(x_new,x16_new, axis=1)
x_new = np.append(x_new,x17_new, axis=1)
x_new = np.append(x_new,x18_new, axis=1)
x_new = np.append(x_new,x19_new, axis=1)

 Print the major matrix

In [43]:
x_new

array([[ 1. , 30. ,  1. , ...,  4. , 61. ,  0. ],
       [ 1. , 50. ,  0. , ...,  3.5, 61. ,  0. ],
       [ 1. , 78. ,  0. , ...,  4. , 61. ,  0. ],
       ...,
       [ 1. , 61. ,  0. , ...,  4.1, 61. ,  1. ],
       [ 1. , 53. ,  1. , ...,  4.1, 48. ,  1. ],
       [ 1. , 43. ,  0. , ...,  3.1, 42. ,  1. ]])

Find transpose of a matrix

In [44]:
x_new_transpose = np.transpose(x_new)

Perform multiplication

In [45]:
# Finding dot product of original and transposed matrix :
x_new_transpose_dot_x_new = x_new_transpose.dot(x_new)

Find inverse

In [46]:
# Finding Inverse
temp_1 = np.linalg.inv(x_new_transpose_dot_x_new)

perform multiplication

In [47]:
# Finding the dot product of transposed x and y :
temp_2 = x_new_transpose.dot(y)

Finding coefficients

In [48]:
# Finding coefficients :
theta = temp_1.dot(temp_2)
theta

array([ 6.89722116e-01, -2.26718169e-03,  1.86735362e-01,  6.10931164e-02,
       -3.76640162e-02, -1.18216741e-03, -1.53532102e-01,  1.54161792e-01,
       -8.30083967e-02,  6.93745522e-02, -9.76450840e-02, -1.75225707e-01,
       -1.96403698e-01, -8.85915580e-02, -7.53009238e-02,  3.53118249e-04,
        7.31304504e-05,  8.86803012e-02,  1.25501813e-03, -2.94432799e-02])

 print the coefficient values

In [49]:
beta_0= theta[0]
beta_1= theta[1]
beta_2= theta[2]
beta_3 =theta[3]
beta_4= theta[4]
beta_5= theta[5]
beta_6 =theta[6]
beta_7= theta[7]
beta_8= theta[8]
beta_9 =theta[9]
beta_10= theta[10]
beta_11= theta[11]
beta_12 =theta[12]
beta_13= theta[13]
beta_14= theta[14]
beta_15 =theta[15]
beta_16= theta[16]
beta_17= theta[17]
beta_18= theta[18]
beta_19= theta[19]
print (beta_0)
print (beta_1)
print (beta_2)
print (beta_3)
print (beta_4)
print (beta_5)
print (beta_6)
print (beta_7)
print (beta_8)
print (beta_9)
print (beta_10)
print (beta_11)
print (beta_12)
print (beta_13)
print (beta_14)
print (beta_15)
print (beta_16)
print (beta_17)
print (beta_18)
print (beta_19)

0.6897221158807909
-0.0022671816943390863
0.1867353620806227
0.061093116385409374
-0.03766401616481918
-0.0011821674056551323
-0.15353210196606004
0.1541617919266829
-0.0830083967077685
0.06937455224570543
-0.09764508397305549
-0.1752257073010175
-0.19640369763561694
-0.08859155798437279
-0.07530092381736764
0.0003531182492760923
7.313045035734628e-05
0.08868030117626124
0.0012550181332746102
-0.02944327990087503

# Predict the values based on the calculated coefficient values :

In [58]:
# Predicting a value
age =30
sex  =1
steroid=0
antivirals=0
fatigue=0
malaise=0
anorexia=0
liver_big=0
liver_firm=0
spleen_palpable=0
spiders=0
ascites=0
varices=0
bilirubin=1.0
alk_phosphate=85
sgot=18
albumin=4.0
protime=61
histology=0

# Prediction function :

def predict_values(beta_0, beta_1, beta_2, beta_3,beta_4, beta_5, beta_6, beta_7,beta_8, beta_9, beta_10, beta_11,beta_12, beta_13, beta_14, beta_15,beta_16,beta_17,beta_18,beta_19,age,sex,steroid,antivirals,fatigue,malaise,anorexia,
       liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,
       histology):
    predicted_value = beta_0+ age* beta_1 +sex* beta_2 + steroid * beta_3 +antivirals*beta_4 +fatigue * beta_5+malaise*beta_6 +anorexia*beta_7+liver_big*beta_8+liver_firm*beta_9+spleen_palpable*beta_10+spiders*beta_11+ascites*beta_12+varices*beta_13 + bilirubin*beta_14+alk_phosphate*beta_15+sgot*beta_16+albumin*beta_17+protime*beta_18+histology*beta_19
    return predicted_value

output=(predict_values(beta_0, beta_1, beta_2, beta_3,beta_4, beta_5, beta_6, beta_7,beta_8, beta_9, beta_10, beta_11,beta_12, beta_13, beta_14, beta_15,beta_16, beta_17, beta_18, beta_19,age, sex ,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology))
print(int(output))

1

# R Square

In [54]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
model =LinearRegression()
x,y=data[['age','sex','steroid','antivirals','fatigue','malaise','anorexia','liver_big','liver_firm','spleen_palpable','spiders','ascites','varices','bilirubin','alk_phosphate','sgot','albumin','protime','histology']], data.className
model.fit(x, y)
model.score(x, y)*100

48.13977157351674